
                <!-- Start content -->
                <div class="content">
                    
                

                <div class="wraper container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="bg-picture text-center">
                                <div class="bg-picture-overlay"></div>
                                <div class="profile-info-name">
                                    <img src="https://randomuser.me/api/portraits/women/19.jpg" class="thumb-lg img-circle img-thumbnail" alt="profile-image">
                                    <h4 class="m-b-5"><b>Andrea Flores</b></h4>
                                    <p class="text-muted"><i class="fa fa-suitcase"></i> Ejecutiva de Ventas</p>
                                </div>
                            </div>
                            <!--/ meta -->
                        </div>
                    </div>
                    
                    <div class="row">
	                    <div class="col-md-12">
	                    	<div class="col-md-3"><button type="button" class="btn btn-block btn-lg btn-success waves-effect waves-light .btn-block">Vacaciones</button></div>
	                    	<div class="col-md-3"><button type="button" class="btn btn-block btn-lg btn-primary waves-effect waves-light">Planilla</button></div>
	                    	<div class="col-md-3"><button type="button" class="btn btn-block btn-lg btn-warning waves-effect waves-light">Comisiones</button></div>
	                    	<div class="col-md-3"><button type="button" class="btn btn-block btn-lg btn-danger waves-effect waves-light">Liquidar</button></div>
	                    </div>
                    </div>
                    <div class="row">
                    	<div class="col-md-4">
                    		
                    		<div class="card-box m-t-20">
								<h4 class="m-t-0 header-title"><b>Información Personal</b></h4>
								<div class="p-20">
									<div class="about-info-p">
                                        <strong>Nombre</strong>
                                        <br>
                                        <p class="text-muted">Andrea Flores</p>
                                    </div>
                                    <div class="about-info-p">
                                        <strong>Teléfono</strong>
                                        <br>
                                        <p class="text-muted">+(507) 6123 4567</p>
                                    </div>
                                    <div class="about-info-p">
                                        <strong>Email</strong>
                                        <br>
                                        <p class="text-muted">aflores@panawork.co</p>
                                    </div>
                                    <div class="about-info-p">
                                        <strong>Fecha de Ingreso</strong>
                                        <br>
                                        <p class="text-muted">15 de Junio de 2014</p>
                                    </div>
                                    <div class="about-info-p">
                                        <strong>Salario</strong>
                                        <br>
                                        <p class="text-muted">$1300</p>
                                    </div>
                                    <div class="about-info-p m-b-0">
                                        <strong>Departamento</strong>
                                        <br>
                                        <p class="text-muted">Ventas</p>
                                    </div>
								</div>
							</div>
							<!-- Personal-Information -->
							
							
							<!-- Personal-Information -->
							
							<!-- Personal-Information -->
							
												
												
                        </div>
                        
                        
                        <div class="col-md-8">
                        	
                        	<div class="card-box m-t-20">
								<h4 class="m-t-0 header-title"><b>Historial</b></h4>
								<div class="p-20">
									<div class="timeline-2">
	                                    <div class="time-item">
	                                        <div class="item-info">
	                                            <div class="text-muted">20 de Marzo, 2016</div>
	                                            <p>Tardanza registrada</p>
	                                        </div>
	                                    </div>	                            
	
	                                    <div class="time-item">
	                                        <div class="item-info">
	                                            <div class="text-muted">8 de Enero de 2016</div>
	                                            <p>Incapacidad</p>
	                                        </div>
	                                    </div>
	                                </div>
								</div>
							</div>
                        	
                        	<div class="card-box">
								<h4 class="m-t-0 header-title"><b>Rendimiento</b></h4>
								
								<div class="p-20">
									<div class="m-b-15">
                                        <h5>Ventas Cerradas<span class="pull-right">7/10</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary wow animated progress-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                                <span class="sr-only">70% Completas</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="m-b-15">
                                        <h5>Tickets de Soporte <span class="pull-right">6/10</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-pink wow animated progress-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                <span class="sr-only">60% Cerrados</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="m-b-15">
                                        <h5>Leads Generados<span class="pull-right">10/20</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-purple wow animated progress-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                                <span class="sr-only">50% Completos</span>
                                            </div>
                                        </div>
                                    </div>
								</div>
							</div>
                        </div>
                        
                        
                    </div>
                    
                    <div class="row">
                        
                    </div>
                </div> <!-- container -->
                               
                </div> <!-- content -->