<div class="row">
							<div class="col-sm-12">
								<div class="card-box">
									<h4 class="m-t-0 header-title"><b>Colaboradores</b></h4>
									<p class="text-muted font-13">
										Desde aquí puede administrar los colaboradores.
									</p>
									
									
									<table data-toggle="table"
										   data-show-columns="false"
										   data-search="true"
										   data-page-list="[10, 50]"
										   data-page-size="5"
										   data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">
										<thead>
											<tr>
												<th data-field="photo" data-switchable="false">Colaboradores</th>
												<th data-field="name" data-switchable="false">Nombre</th>
												<th data-field="salary">Salario</th>
												<th data-field="job">Posición</th>
												<th data-field="date">Fecha de Ingreso</th>
												<th data-field="user-status" class="text-center">Status</th>
											</tr>
										</thead>
										
										<tbody>
										<% for (d in data) { %>
											<tr class="colaborador">
												<td class="avatar"><img class="img-circle" src="<%= data[d].user.picture.medium %>" /></td>
												<td class="text"><a href="#"><%= data[d].user.name.first %> <%= data[d].user.name.last %></a></td>
												<td class="text">$ 1800</td>
												<td class="text">Ejecutivo de Ventas</td>
												<td class="text">22 Junio 2013</td>
												<td class="text"><span class="label label-table label-success">Activo</span></td>
											</tr>
										<% } %>
										</tbody>
									</table>
								</div>
							</div>
						</div>